body {
  margin: 0;
  background-color: #FFFFFF; 
  color: #8392f6; 
}

h1, .title {
  display: flex;
  justify-content: center;
  color: #ff6067; 
}

h3 {
  display: flex;
  justify-content: center;
  color: #8392f6; 
}

.listOfPlayers {
  background-color: #8392f6; 
  width: 85%;
  color: #FFFFFF; 
  font-size: 1.5rem;
  border: 10px solid #ff6067; 
  border-radius: 32px;
  padding: 1%;
  margin: 0 auto;
  text-align: center;
  
}

.guess {
  all: unset;
  display: flex;
  padding: 10px 20px;
  background-color: #ff6067; 
  color: #FFFFFF; 
  border-radius: 6px;
  border: 5px solid #8392f6; 
  width: 350px;
  height: 30px;
  margin: 10px auto;
}

input::placeholder {
  color: #FFFFFF; 
  text-align: center;
}

.player-stats {
  justify-content: center;
  font-weight: 900;
  font-size: 1.3rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat {
  margin: 5px;
  color: #ff6067; 
}

.button-guess {
  all: unset;
  display: flex;
  padding: 10px 20px;
  background-color: #ff6067; 
  color: #FFFFFF; 
  border-radius: 6px;
  border: 5px solid #8392f6; 
  cursor: pointer;
  width: 50px;
  height: 20px;
  margin: 10px auto;
}

.button-hint {
  all: unset;
  display: flex;
  padding: 10px 10px;
  background-color: #ff6067; 
  color: #FFFFFF; 
  border-radius: 6px;
  border: 5px solid #8392f6; 
  cursor: pointer;
  margin: 10px auto;
}

.hint-answer {
  color: #ff6067; 
  display: flex;
}

.hint-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin: 20px auto;
}