body {
  margin: 0;
  background-color: #EDDDD4; 
  color: #197278; 
  padding-bottom: 50px;
}

h1, .title {
  display: flex;
  justify-content: center;
  color: #C44536; 
}

h3 {
  display: flex;
  justify-content: center;
  color: #197278; 
}

.listOfPlayers {
  background-color: #197278; 
  width: 85%;
  color: #EDDDD4; 
  font-size: 1.5rem;
  border: 10px solid #C44536; 
  border-radius: 32px;
  padding: 1%;
  margin: 0 auto;
  text-align: center;
  
}

.guess {
  all: unset;
  display: flex;
  padding: 10px 20px;
  background-color: #C44536; 
  color: #EDDDD4; 
  border-radius: 6px;
  border: 5px solid #197278; 
  width: 50%;
  height: 30px;
  margin: 10px auto;
}

input::placeholder {
  color: #EDDDD4; 
  text-align: center;
}

.player-stats {
  justify-content: center;
  font-weight: 900;
  font-size: 1.3rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat {
  margin: 5px;
  color: #C44536; 
}

.button-guess {
  all: unset;
  display: flex;
  padding: 10px 20px;
  background-color: #C44536; 
  color: #EDDDD4; 
  border-radius: 6px;
  border: 5px solid #197278; 
  cursor: pointer;
  width: 50px;
  height: 20px;
  margin: 10px auto;
}

.button-hint {
  all: unset;
  display: flex;
  padding: 10px 10px;
  background-color: #C44536; 
  color: #EDDDD4; 
  border-radius: 6px;
  border: 5px solid #197278; 
  cursor: pointer;
  margin: 10px auto;
}

.hint-answer {
  color: #C44536; 
  display: flex;
}

.hint-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin: 20px auto;
}

.struck-out {
  text-decoration: line-through;
  color: #ccc;
}

.button-mode {
  position: fixed;
  bottom: 0px; 
  left: 0px;   
  padding: 10px 10px;
  background-color: #C44536; 
  color: #EDDDD4; 
  border-radius: 6px;
  border: 5px solid #197278; 
  cursor: pointer;
}